<div class="simulation-wrapper">
  <div class="simulation-area">
    <svg #svgContainer class="simulation-canvas"></svg>
    <div class="zoom-controls">
      <button class="zoom-btn" (click)="zoomIn()">+</button>
      <button class="zoom-btn" (click)="zoomOut()">-</button>
    </div>
    <div class="controls">
      <button (click)="addNpc($event)">Add NPC</button>
      <input type="text" [(ngModel)]="searchTerm" (input)="onSearchTermChange()" (keyup.enter)="search()" placeholder="Search characters" />
      <button (click)="search()">Search</button>
    </div>

    <ul *ngIf="searchResults.length > 0" class="search-results">
      <li *ngFor="let result of searchResults">
        {{ result.name }} ({{ getMbti(result) }})
        <button (click)="addSearchedProfile(result)">Add</button>
      </li>
    </ul>
  </div>

  <div
    class="sidebar-resizer"
    *ngIf="hoveredProfile"
    (mousedown)="initResize($event)"
  ></div>

  <app-profile-sidebar
    *ngIf="hoveredProfile as profile"
    [profile]="profile"
    #sidebar
  ></app-profile-sidebar>
</div>
