<div class="selector-container">
  <form (ngSubmit)="onSubmit()" #selectorForm="ngForm" class="options-form">
    <div class="option">
      <label for="mbti">MBTI:</label>
      <select id="mbti" [(ngModel)]="selectedMbti" name="mbti" (change)="onFilterChange()">
        <option value="">Any</option>
        <option *ngFor="let type of mbtiList" [value]="type">{{ type }}</option>
      </select>
    </div>

    <div class="option">
      <label for="category">Category:</label>
      <select id="category" [(ngModel)]="selectedCategory" name="category" (change)="onFilterChange()">
        <option [ngValue]="PdbCategory.None">None</option>
        <option *ngFor="let cat of categoryOptions" [ngValue]="cat.value">{{ cat.label }}</option>
      </select>
    </div>

    <button type="submit">Submit</button>
  </form>

  <input
    class="search"
    type="text"
    [(ngModel)]="searchTerm"
    (input)="onSearchTermChange()"
    placeholder="Search characters"
    name="search" />

  <ul *ngIf="searchTerm && suggestions.length > 0" class="search-results">
    <li *ngFor="let s of suggestions">
      {{ s.name }}
      <button (click)="goToProfile(+s.id)">View</button>
    </li>
  </ul>

  <ul *ngIf="!searchTerm && filteredProfiles.length > 0" class="search-results">
    <li *ngFor="let result of filteredProfiles">
      {{ result.mbti_profile }}
      <button (click)="goToProfile(result.id)">View</button>
    </li>
  </ul>
</div>
